@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #414551;
}

div.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.calculator {
    background-color: #fff;
    height: 664px;
    width: 390px;
    border-radius: 40px;
    overflow: hidden;
}

div.result {
    height: 250px;
    width: 100%;
}

h1.number {
    font-size: 52px;
}

div.col-3 {
    margin-bottom: 6px;
}

div.col-3 > button.btn {
    width: 100%;
    height: 86.5px;
    font-size: 32px;
}

div.col-3 > button.btn.btn-angka {
    background-color: #f0f0f2;
    color: black;
}

div.col-6 > button.btn.btn-angka {
    background-color: #f0f0f2;
    color: black;
}

div.col-3 > button.btn.btn-others {
    background-color: #c4c4c4;
    color: black;
}

div.col-6 > button.btn.btn-others {
    background-color: #c4c4c4;
    color: black;
}

div.col-3 > button.btn.btn-operator {
    background-color: #fd9c11;
    color: black;
}

div.col-6 > button.btn {
    width: 100%;
    height: 86.5px;
    font-size: 32px;
}

.shadow-sm {
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15) !important;
}
